<center> <h1> 600092 <br>  Data Mining and Decision Systems </h1>â€‚</center>

---

Importing necessary libraries.

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

Importing dataset.

In [7]:
df = pd.read_csv('600092_data.csv')

Using `df.info()` to briefly summarise the dataset, to better understand the data.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 11 columns):
Random          1520 non-null float64
Id              1520 non-null int64
Indication      1517 non-null object
Diabetes        1518 non-null object
IHD             1520 non-null object
Hypertension    1517 non-null object
Arrhythmia      1520 non-null object
History         1518 non-null object
IPSI            1516 non-null float64
Contra          1520 non-null object
label           1517 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 130.8+ KB

In [10]:
df.describe()

            Random             Id         IPSI
count  1520.000000    1520.000000  1516.000000
mean      0.509545  188365.022368    78.872032
std       0.284006   64355.870242    10.162351
min       0.000295   78261.000000    35.000000
25%       0.268531  137130.750000    73.000000
50%       0.517616  191344.500000    77.000000
75%       0.754724  244559.500000    85.000000
max       0.999448  295978.000000    99.000000