<center> <h1> 600092 <br>  Data Mining and Decision Systems </h1> </center>

---

Importing necessary libraries.

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np

Importing dataset.

In [165]:
df = pd.read_csv('600092_data.csv')

In [166]:
df.dropna()

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
0,0.602437,218242,A-F,no,no,yes,no,no,78.0,20,NoRisk
1,0.602437,159284,TIA,no,no,no,no,no,70.0,60,NoRisk
2,0.602437,106066,A-F,no,yes,yes,no,no,95.0,40,Risk
3,0.128157,229592,TIA,no,no,yes,no,no,90.0,85,Risk
4,0.676862,245829,CVA,no,no,no,no,no,70.0,20,NoRisk
...,...,...,...,...,...,...,...,...,...,...,...
1515,0.391440,93406,A-F,no,yes,no,no,no,76.0,60,NoRisk
1516,0.253504,121814,A-F,no,no,yes,yes,no,90.0,75,Risk
1517,0.620373,101754,TIA,no,no,yes,no,no,75.0,20,NoRisk
1518,0.639342,263836,A-F,no,yes,no,no,no,70.0,45,NoRisk
1519,0.634922,254941,CVA,no,no,no,no,no,60.0,20,NoRisk

In [69]:
df["Hypertension"]

0       yes
1        no
2       yes
3       yes
4        no
       ...
1515     no
1516    yes
1517    yes
1518     no
1519     no
Name: Hypertension, Length: 1520, dtype: object

Using `df.info()` to briefly summarise the dataset, to better understand the data.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 11 columns):
Random          1520 non-null float64
Id              1520 non-null int64
Indication      1517 non-null object
Diabetes        1518 non-null object
IHD             1520 non-null object
Hypertension    1517 non-null object
Arrhythmia      1520 non-null object
History         1518 non-null object
IPSI            1516 non-null float64
Contra          1520 non-null object
label           1517 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 130.8+ KB

In [16]:
df.isnull().sum()

Random          0
Id              0
Indication      3
Diabetes        2
IHD             0
Hypertension    3
Arrhythmia      0
History         2
IPSI            4
Contra          0
label           3
dtype: int64

In [72]:
random = df['Random']

In [74]:
count = 0
for row in df["Hypertension"]:
    try:
        int(row)
        df.loc[count, "Hypertension"]=np.nan
    except ValueError:
        pass
    count += 1

In [75]:
df["Hypertension"].isnull().sum()

3

In [76]:
count = 0
for row in df["label"]:
    try:
        int(row)
        df.loc[count, "label"]=np.nan
    except ValueError:
        pass
    count += 1

In [80]:
df["label"].isnull().sum()

3

In [158]:
count = 0
for row in df["Contra"]:
    try:
        int(row)
        df.loc[count, "Contra"]=np.nan
    except ValueError:
        pass
    count += 1

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
453,0.518558,254469,ASx,no,no,yes,no,no,70.0,,NoRisk

In [167]:
df.astype({'Contra': 'int32'}).dtypes

ValueError: invalid literal for int() with base 10: ' '

In [156]:
df["Contra"].astype(np.int64).dtype

ValueError: invalid literal for int() with base 10: ' '

In [147]:
df["Contra"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1515    NaN
1516    NaN
1517    NaN
1518    NaN
1519    NaN
Name: Contra, Length: 1520, dtype: object

'0       78.0\n1       70.0\n2       95.0\n3       90.0\n4       70.0\n        ... \n1515    76.0\n1516    90.0\n1517    75.0\n1518    70.0\n1519    60.0\nName: IPSI, Length: 1520, dtype: float64'

In [140]:
for c in df.columns:
    if (df[c].dtype == np.float64) | (df[c].dtype == np.int64): 
        print("hello")

hello
hello
hello

In [94]:
df["IPSI"].isnull().sum()

4

In [108]:
df["IPSI"].value_counts(bins = 10)

(73.4, 79.8]      376
(67.0, 73.4]      364
(79.8, 86.2]      320
(92.6, 99.0]      196
(86.2, 92.6]      175
(54.2, 60.6]       38
(47.8, 54.2]       30
(60.6, 67.0]       16
(34.935, 41.4]      1
(41.4, 47.8]        0
Name: IPSI, dtype: int64

In [ ]:
count = 0
for row in df["Arrhythmia"]:
    try:
        str(row)
        df.loc[count, "Arrhythmia"]=np.nan
    except ValueError:
        pass
    count += 1

In [ ]:
d

In [58]:
df["Random"].isnull().sum()

1520

In [36]:
df["label"].isnull().sum()

0

In [ ]:
l

In [41]:
df[random.isin(random[random.duplicated()])]

,Random,Id,Indication,Diabetes,IHD,Hypertension,Arrhythmia,History,IPSI,Contra,label
0,0.602437,218242,A-F,no,no,yes,no,no,78.0,20,NoRisk
1,0.602437,159284,TIA,no,no,no,no,no,70.0,60,NoRisk
2,0.602437,106066,A-F,no,yes,yes,no,no,95.0,40,Risk
8,0.678157,256128,TIA,no,no,yes,no,no,81.0,20,NoRisk
10,0.678157,174588,CVA,no,yes,yes,yes,no,75.0,50,Risk
...,...,...,...,...,...,...,...,...,...,...,...
1459,0.735681,151183,CVA,no,no,no,no,no,75.0,90,NoRisk
1467,0.889219,202550,TIA,no,no,yes,no,no,77.0,20,NoRisk
1473,0.391440,203914,TIA,no,yes,no,no,no,73.0,30,NoRisk
1511,0.174637,284804,TIA,no,yes,no,no,no,73.0,30,NoRisk
1515,0.391440,93406,A-F,no,yes,no,no,no,76.0,60,NoRisk

In [15]:
df.dropna(inplace = True)

In [37]:
ids = df['Id']

In [38]:
df[ids.isin(ids[ids.duplicated()])] #Shows that there is no repeated values in ID, maybe switch Random and ID!!

Empty DataFrame
Columns: [Random, Id, Indication, Diabetes, IHD, Hypertension, Arrhythmia, History, IPSI, Contra, label]
Index: []

In [27]:
df["IPSI"]= df["IPSI"].astype(float)

In [34]:
df["label"].isnull().sum()

0

In [28]:
after = df.dtypes

In [29]:
after

Random          float64
Id                int64
Indication       object
Diabetes         object
IHD              object
Hypertension     object
Arrhythmia       object
History          object
IPSI            float64
Contra           object
label            object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 11 columns):
Random          1520 non-null float64
Id              1520 non-null int64
Indication      1517 non-null object
Diabetes        1518 non-null object
IHD             1520 non-null object
Hypertension    1517 non-null object
Arrhythmia      1520 non-null object
History         1518 non-null object
IPSI            1516 non-null float64
Contra          1520 non-null object
label           1520 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 130.8+ KB